<div class="resignation-errors">
<% @resignations.errors.full_messages.each do |message| %>
 <%= message %>
 <% end %>
</div>

<br>
<br>
<%= form_for @resignations, url: resign_create_path do |f| %>
<div class="resignation-form">
  <%= f.label :reason, "退会理由" %>
  <%= f.text_field :reason %>
  <%= f.submit "退会を申請する", class: "p" %>
<% end %>
</div>