<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<img src="<%="/user_images/#{@post.user.image_name}"%>">
<%= link_to(@post.user.user_name,"/users/#{@post.user.id}") %>
<%= @post.title %>
<%= @post.content %>
<%= @post.created_at.strftime('%Y/%m/%d %H:%M:%S') %>

<% if Haittum. find_by(user_id: @current_user.id,post_id: @post.id) %>
<%= link_to("はいった！","/haittum/#{@post.id}/destroy",{method: "post"}) %>
<% else %>
<%= link_to("はいった","/haittum/#{@post.id}/create",{method: "post"}) %>
<% end %>
<%= @haittum_count %>

<% if @post.user_id == @current_user.id %>
<%=link_to("編集","/posts/#{@post.id}/edit") %> <%= link_to("削除","/posts/#{@post.id}/destroy",{method:"post"}) %>
<% end %>