<h1>問い合わせ一覧</h1>

<div class="inquiries">
 
<% @inquiries.each do |inquiry| %>

<%= form_for :inquiry, url: delete_inquiry_path(inquiry.id), method: :delete do |f| %>


<p> ユーザーネーム：<%= inquiry.user.user_name %></p>
<p>ユーザーアドレス：<%= inquiry.user.email %></p>
<p>内容：<%= inquiry.content %></p>
<p>投稿時間： <%= inquiry.created_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
<input type="submit" value="対応完了">

<% end %>
<br>
<% end %>
</div>

