<!DOCTYPE html>
<html>
  <head>
    <title>HaitterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <header>
    <%=link_to("Haitter","/") %>
    <%=link_to("Haitterとは","/about") %>
    <%=link_to("新規登録","#") %>
    <%=link_to("ログイン","#") %>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
